<div class="col-md-3 offset-1">
<h1>Editing profile</h1>

<%= render 'form' %>

<%= link_to 'Show', @profile, class: "btn btn-xs btn-info enabled active" %> | <%= link_to 'Back', profiles_path, class: "btn btn-xs btn-danger active" %>
</div>