<% if is_admin? or owns_essay? %>
<div class="col-md-3 offset-1">
<h1>New essay</h1>

<%= render 'form' %>
<% if is_admin? %>
<%= link_to 'Back', essays_path, :class => "btn btn-xs btn-danger" %>
<% end %>
</div>
<% else %>
You are not authorized to view this page
<% end %>